@model IEnumerable<Hrisca_Raluca_assignment_2_.Models.Trainer>

@{
    ViewBag.Title = "All Trainers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Trainers</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm()){
        <p>Name: @Html.TextBox("searchString")
        <input type="submit" value="Search"></p>
        }
</p>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
